### Coding Questions (10 marks each)

In [1]:
#Question 1
import numpy as np
import pandas as pd
sudo = np.arange(1,10).reshape(3,3)
df = pd.DataFrame(sudo)
sudo2 = np.random.randint(1,9,size=(3,3))
sudo3 = np.random.choice([1,2,3,4,5,6,7,8,9],size = (3,3),replace=False) 
def check_grid(df): 
    s = set()
    for row in df: 
        for value in row: 
            if value in range(1,10): 
                s.add(value)

In [2]:
#Question 2.1
import numpy as np
import pandas as pd
color = list(np.random.choice(['Red','Blue','Black'],10))
model = list(np.random.choice(['Car','Truck','SUV'],10))
year = list(np.random.choice([1,2,3,4,5,6,7,8,9,10],10))
mileage = list(np.random.choice([1,2,3,4,5,6,7,8,9,10],10))
capacity = list(np.random.choice([1,2,3,4,5,6,7,8,9,10],10))
ID = list(np.random.choice([1,2,3,4,5,6,7,8,9,10],10))
d = {'Color':color, 'Model':model, 'Production Year':year, 'Capacity':capacity, "Mileage":mileage, 'ID':ID}
df = pd.DataFrame(d)
df

   Color  Model  Production Year  Capacity  Mileage  ID
0  Black    Car                5        10        3   2
1   Blue    Car                4         2        1   3
2    Red  Truck                2         1        4   9
3    Red  Truck                8         6       10   4
4    Red  Truck                3         8        2   2
5   Blue    SUV                3         6        5   1
6    Red    Car                5         1        6  10
7    Red    Car                4         4        9   3
8   Blue    SUV                7         1       10   2
9    Red    SUV                8         3        1   3

In [34]:
#Question 2.2
Car_df = df[df['Model'] == 'Car']
SUV_df =df[df['Model'] == 'SUV']
Truck_df = df[df['Model'] == 'Truck']
df.groupby(['Color']).mean('Mileage')

       Production Year   Capacity   Mileage        ID
Color
Black         5.000000  10.000000  3.000000  2.000000
Blue          4.666667   3.000000  5.333333  2.000000
Red           5.000000   3.833333  5.333333  5.166667

In [4]:
df.groupby('Model').count()

       Color  Production Year  Capacity  Mileage  ID
Model
Car        4                4         4        4   4
SUV        3                3         3        3   3
Truck      3                3         3        3   3

### Bonus Question (10 marks)

In [40]:
#Bonus Question
import numpy as np
guess = np.random.randint(1, 100)
print("Please think of a number between 1 and 100")
print(guess)
print("Is this the number you were thinking?")
right_or_wrong = input()
while True:
    while right_or_wrong == 'H':
        guess = random.randint(1,guess)
        print(guess)
        print("Is this correct?")
        right_or_wrong = input()
    while right_or_wrong == 'L':
        guess = random.randint(guess,100)
        print(guess)
        print("Is this correct?")
        right_or_wrong = input()
    while right_or_wrong == 'C':
        break
    
    if right_or_wrong == 'C':
        print("Thank you for playing!")
        break

Please think of a number between 1 and 100
86
Is this the number you were thinking?
H
5
Is this correct?
L
11
Is this correct?
L
25
Is this correct?
L
27
Is this correct?
L
47
Is this correct?
L
74
Is this correct?
H
69
Is this correct?
H
45
Is this correct?
L
65
Is this correct?
H
33
Is this correct?
L
75
Is this correct?
C
Thank you for playing!